@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  html, body, #root {
    height: 100%;
  }

  body {
    background-color: #f0f2f5;
    color: #333;
  }

  /* O mapa precisa de um contêiner com altura; agora usamos h-screen no pai e h-full no map */
  #map {
    height: 100%;
    width: 100%;
  }

  
}